<div class="home">
   <div class="background">
     <div class="title-container">
      <div class="container">
          <div class="row">
            <div class="col-lg-8">
                <h1>Egeo Design System</h1>
                <h5>Creating the statement for a scalable and consistent design system</h5>
            </div>
          </div>
      </div>
     </div>
   </div>
   <div class="main-text">
      <p><b>Egeo</b> is an open source design system that combines both the world of design and development in one
         single
         interface. This product works together with
         UX/UI guidelines and the Angular Library. </p>

      <p>Egeo’s design looks for an innovative, smart and balanced line, without forgetting the professional and
         reliable
         side.</p>

      <p>We also provide <b>Egeo</b> Themes to help you creating and customizing your theme with your own colors.</p>
      <div class="separator separator--blue"></div>
      <span class="footer-text">Egeo Design System is developed by Stratio.</span>
      <a href="https://github.com/stratio/egeo" class="github-button"><i class="icon-github2"></i><span>Fork and rate it on
         GitHub</span></a>
   </div>
</div>

<demo-footer [rightsText]="rightsText" [links]="links" image="assets/images/stratio-white.png">
</demo-footer>
